* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/istockphoto-2162849344-612x612.jpg);
  background-size:cover;
  height: 100vh;
  cursor:pointer;
}

.form {
  max-width: 1300px;
  min-width: 500px;
  max-height: 600px;
  border: 5px solid rgb(100, 77, 77);
  box-shadow: 0px 0px 20px black;
  background-color: transparent;
  padding: 30px;
  color:rgb(73, 44, 44);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

h1,h2{
  margin-bottom: 50px;

}

.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.name, .email, .phone, .message-subject, .message{
  display: flex;
  justify-content: space-between;
}

.your-name, .your-phone{
margin-right: auto;
}

#name1, #name2{
  padding: 5px;
  width: 450px;
  margin-left: 15px;
  background-color: rgb(229, 217, 217);

}
  #mail,.other{
    padding: 5px;
    width: 915px;
    background-color: rgb(229, 217, 217);
  }

  #phone1, #phone2, #phone3{
    padding: 5px;
    width: 295px;
    margin-left: 15px;
    background-color: rgb(229, 217, 217);
    
  }
  .your-message{
    padding: 20px;
    width: 915px;
    background-color: rgb(229, 217, 217);
  }
  
  .strip {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: rgb(45, 32, 32);
  }

  .submit{
    padding: 10px;
    width: 915px;
    margin-left: 315px;
    background-color: transparent;
    color:rgb(73, 44, 44);
    font-weight: bolder;
    font-size: large;
  }

    


